<1>判断是否为素数
#define _CRT_SECURE_NO_WARNINGS
#include<stdio.h>
int main()
{
	int i,j = 0;
	printf("请输入需要判断的整数:>");
	scanf("%d", &i);                                     
	int k = 1;
	for (j = 2; j < i; j++);
	if (i % j == 0)

	{
		k = 0;
		i = j;
		
	}
	if (k == 1)
		printf("%d是素数\n", i);
	else
		printf("%d不是素数\n", i);

	
	return 0;
}  




<2>九九乘法表
#include<stdio.h>
int main()
{
 int i, j, result;
 for (i = 1; i < 10; i++)
 {
  for(j=1;j<10;j++)
  {
   result = i * j;
   printf("%d*%d=%-3d", i, j, result);

  }
  printf("\n");
 }
 return 0;
}
    
    
<3>3的阶乘的和    
  #include<stdio.h>
int main()
{
 int i = 0;
 int n = 0;
 int ret = 1;
 int sum = 0;
 for (n = 1; n <= 3; i++)
 {
  ret = ret * n;
  sum = ret + sum;
 }
 printf("sum=%d\n",sum);
 return 0;

}  
    
    
  <4>3的阶乘  
  #include<stdio.h>
int main()
{
 int i = 0;
 int n = 0;
 int ret = 1;
 scanf_s("%d", &n);
 for (i = 1; i <= n; i++)
 {
  ret = ret * i;
 }
 printf("ret = % d\n", ret);


 return 0;

}  


<5>在一个有序数组中看是否有这个数字
#include<stdio.h>
int main()
{
 int arr[] = { 1,2,3,4,5,6,7,8,9,10 };
 int k = 17;
 int sz = sizeof(arr) / sizeof(arr[0]);
 int left = 0;
 int right = sz - 1;
 int mid = 0;
 while (left <= right)
 {
  int mid = (left + right) / 2;
 
 if (arr[mid] > k)
 {
  right = mid - 1;
 }
 else if (arr[mid] < k)
 {
  left = mid + 1;
 }
 else
 {
  printf("找到了，下标是:%d\n", mid);
  break;
 }
 if (left > right)
 {
  printf("找不到\n");
 }
 return  0；
}




<6>输入三次密码，三次都错则推出程序
#define _CRT_SECURE_NO_WARNINGS
#include<stdio.h>
#include<stdlib.h>
#include<string.h>
int main()
{
 int i = 0;
 char password[20] = { 0 };
 for (i = 1; i < 3; i++)
 {
  printf("请输入密码:>");
  scanf("%s", password);
  if (strcmp(password, "2021456232") == 0)
  {
   printf("登陆成功\n");
   break;
  }

 }
 if (i == 3)
  printf("三次密码均输入错，退出程序\n");
 return 0;
}





<7>1000以内的水仙花数
#define _CRT_SECURE_NO_WARNINGS
#include<stdio.h>
int main()
{
	int i = 0;
	int g, s, b;
	scanf("%d", &i);
	for (i = 100; i < 1000; i++)
	{
		b = i / 100;
		s = i / 10 % 10;
		g = i % 10;
		if(g*g*g+s*s*s+b*b*b==i)
			printf(" %d是水仙花数",i);
	}

	
	return 0;
}  






<8>显示一个人的体重指数，并判断其健康程度
#include <stdio.h>
int main(){
 float a,b;
 float c,m; 
 scanf("%f",&a);
 scanf("%f",&b);
 c=(a*703.0)/(b*b);
 m=(int)(c*100.0)/100.0;
 printf("BMI = %.2f\n",m);
 if(c<18.5) 
 printf("体重过轻\n");
 else if(c>25) 
 printf("体重超重\n"); 
 else 
 printf("体重最佳\n");
 return 0;
}




<9>判断一个数是否为回文数
#define _CRT_SECURE_NO_WARNINGS
#include<stdio.h>
int main()
{
    int num, m = 0, s = 0, n;

    printf("请输入一个正整数：\n");
    scanf("%d", &num);

    s = num;
    while (s != 0)
    {
        n = s % 10;   //n是s的末位数
        m = m * 10 + n; //把s的末位数放到m的末位
        s = s / 10;  //去掉末位数的新s
    }

    if (num == m)
        printf("%d 是回文数\n", num);
    else
        printf("%d 不是回文数\n", num);

    return 0;
}



<10>张建杰不仅是二锤还是舔狗
#define _CRT_SECURE_NO_WARNINGS
#include<stdio.h>
int main()
{
    int x = 3;
        int y = 5;
        switch (x % 2)
        {
        case 1:
            switch (y)
            {
                case 1:
                printf("李柯杰不仅是二锤");
                 case 2:
                printf("黄依婷不仅是二锤");
                default:
                printf("李若阳不仅是二锤");
		case 3:
                printf("王鸡薇是二锤"）;
		case 4:
		primtf("瞿书恒是二锤");
                 case 5:
                printf("张建杰不仅是二锤");
            

            }
        case 2:
            printf("还是舔狗");
        }
    return 0;
}



<11>将三个数字从大到小依次排序
#define _CRT_SECURE_NO_WARNINGS
#include<stdio.h>
int main()
{
    int a  ;
    int b  ;
    int c ;
    int t = 0;
    scanf("%d%d%d", &a,&b, & c);
    if (a < b)
    {
        t = a;
        a = b;
        b = t;
    }
    if (a < c)
    {
        t = a;
        a = c;
        c = t;
    }
    if (b < c)
    {
        t = b;
        b = c;
        c = t;
    }
    printf("%d%d%d", a, b, c);
    return 0;
